<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errorImg">
                            <img src="img/7967788_3819740.jpg"
                                class='img-fluid' title="Vikalp" width="70%" alt="">
                        </figure>
                    
                        <p>Welcome to My Empire</p>
                        <h2>Opps! Page Not Found</h2>
                        <a href="/"><button>Home</button></a>
                    </div>

                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>