<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="img/vecteezy_silhouette-of-a-male-head-in-profile-on-a-white-background_.jpg"
                                class='img-fluid' title="Vikalp" width="70%" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h2>I am About become a <span>MERN stack developer</span> Web developer</h2>
                        <a href="#"><button>About Me</button></a>
                    </div>

                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>